{% extends "layout.html.twig" %}

{% block content %}
<h2>Hello!</h2>
<p>This website is a 365 days photo challenge that I began with some old-time friends, didi and <a href="http://moromi.tumblr.com/tagged/365" rel="external">khursten</a>.</p>
<p>I'm not sure how long I'll be able to do this but hopefully, I'll still be posting that last photo on December 31, 2013.</p>

<h3>Background</h3>
<p>Part of the reason why I initiated this challenge was because I wanted to maximise the use of my SLR camera that I only whip out on "special occasions". Considering the amount of money I spent on it, I think it warrants more use.</p>
<p>So I'm now forcing myself to carry my camera everywhere, with my cell phone as backup :)</p>
{% endblock %}