{% extends "layout.html.twig" %}

{% block content %}
<h2>Hello!</h2>
<p>This website is a 365 days photo challenge that I began with some old-time friends, <a href="http://365.hazydaze.net" rel="external">didi</a> and <a href="http://moromi.tumblr.com/tagged/365" rel="external">khursten</a>.</p>
<p>I'm not sure how long I'll be able to do this but hopefully, I'll still be posting that last photo on December 31, 2013.</p>

<h3>Background</h3>
<p>Part of the reason why I initiated this challenge was because I wanted to maximise the use of my SLR camera that I only whip out on "special occasions". Considering the amount of money I spent on it, I think it warrants more use.</p>
<p>So I'm now forcing myself to carry my camera everywhere, with my cell phone as backup :)</p>

<h3>Behind the Scenes</h3>
<p>365days.me runs on custom code which can be viewed at <a href="https://bitbucket.org/melz/365days.me" rel="external">https://bitbucket.org/melz/365days.me</a>. Please understand that this was an experiment to learn a new PHP framework and template engine. Expect laughable code and very frequent updates as I refactor the code.</p>
{% endblock %}