{% extends "layout.html.twig" %}

{% block js %}
<script type="text/javascript" src="/js/masonry.min.js"></script>
<script>
window.onload = function() {
  var wall = new Masonry( document.getElementById('entries') );
};
</script>
{% endblock %}

{% block content %}
<h2>Archives</h2>

<div id="entries">
  {% for entry in recent_photos %}
  <div class="entry">
    <h3><a href="{{ app.url_generator.generate('view_by_day', {"num": entry["day"]}) }}">{{ entry["title"] }}</a></h3>
    <a href="{{ app.url_generator.generate('view_by_day', {"num": entry["day"]}) }}">
      <img src="/assets/{{ entry["padded_day"] }}s.jpg" alt="{{ entry["title"] }}" title="{{ entry["title"] }}"/>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
