<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}365days.me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="wrapper">
      <header id="mast" role="navigation">
        <nav>
          <a href="{{ app.url_generator.generate('homepage') }}"><img class="site-logo" src="/images/365days.png" alt="365days.me" title="365days.me" /></a>

          <ul id="nav-list">
            <li class="nav-today{% if app.request.get('_route') == 'view_by_day' %} active{% endif %}"><a href="{{ app.url_generator.generate('homepage') }}">Today</a></li>
            <li class="nav-archives{% if app.request.get('_route') == 'archives' %} active{% endif %}"><a href="{{ app.url_generator.generate('archives') }}">Archives</a></li>
            <li class="nav-about{% if app.request.get('_route') == 'about' %} active{% endif %}"><a href="{{ app.url_generator.generate('about') }}">About</a></li>
          </ul>
        </nav>
      </header>

      <div id="content" role="main">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </div>

      <footer>
        <p class="copyright-notice">All photos &amp; content &copy; {{ "now"|date("Y") }} <a href="https://plus.google.com/110115110854684413857?rel=author">Melissa Peh</a> (<a href="http://twitter.com/melz" rel="external">@melz</a>). Please do not repost my photos without prior consent.</p>
      </footer>
    </div>

    {% block js %}{% endblock %}
  </body>
</html>
