{% extends "layout.html.twig" %}

{% block title "Day #{num}: #{meta_data.entry_title} - " %}

{% block content %}
<div id="photo-container"{%if meta_data.image_exif.COMPUTED.height == 1200 %} class="is-vertical"{% endif %}>
  <div class="photo-top">
    <div class="day-nav nav-prev">
      {% if has_prev %}
      <span class="arrow"><a href="{{ app.url_generator.generate('view_by_day', {"num": (num - 1)}) }}">&laquo;</a></span>
      {% endif %}
      &nbsp;
    </div>
    <div class="meta-info">
      <h2>Day #{{ num }}</h2>
      <h3 class="entry-title">{{ meta_data.entry_title }}</h3>
    </div>
    <div class="day-nav nav-next">
      &nbsp;
      {% if has_next %}
      <span class="arrow"><a href="{{ app.url_generator.generate('view_by_day', {"num": (num + 1)}) }}">&raquo;</a></span>
      {% endif %}
    </div>
  </div>
  <div class="single-photo">
    <img src="/assets/{{ padded_num }}.jpg" alt="{{ meta_data.entry_title }}" title="{{ meta_data.entry_title }}"/>
  </div>
  <div id="photo-extra">
    <p>
      {{ meta_data.image_exif.ExposureTime }} sec @
      {{ meta_data.image_exif.COMPUTED.ApertureFNumber }} &middot;
      {{ meta_data.image_exif.FocalLength * 1 }} mm &middot;
      
      {# Show information about the camera lens used (Lightroom / Canon make only), i.e. proprietary make only #}
      {# If not found, then show the camera make #}
      {% if meta_data["image_exif"]["UndefinedTag:0xA434"] is defined %}
        {{ meta_data["image_exif"]["UndefinedTag:0xA434"] }}
      {% else %}
        {{ meta_data.image_exif.Make }} {{ meta_data.image_exif.Model }}
      {% endif %}
    </p>
  </div>
  {% if has_blurb %}
  <div id="photo-blurb">
    {{ blurb|markdown }}
    <p class="blurb-date">{{ meta_data.entry_date }}</p>
  </div>
  {% endif %}
</div>
{% endblock %}
